/*header*/
header {

    background-color: #808080;
    
    }
    
    header ul {list-style: none;color: black};
    
    .cont-img{

            width: 80px;
            background-color:#808080;
            img {width: 100%;}
            
    }
    
    
    .menu-container {
       
    
        position: sticky;
        top: 0;
        
        background-color:#808080;
        
    }
    
    