.tittle {
    background-color: #a99f9f;
    border: 1px solid;
  
    text-align: center;
   }

   .formcomunidad{

    background-color: #a99f9f;
   }

   .titulo2 {

    background-color: #a99f9f;
   }

   .main-content{
    
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: #a99f9f;
    .imagenes-main {

        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        .imgmain1{
            display: flex;
            
            width: 200px;
            height:225px;
        
           }
        
           .imgmain2{
            display: flex;
            width:200px;
            height: 225px;
        
        
           }
    
       }
   }
    .img-main-com{

            display: flex;
            width:300px;
            height: 450px;
        
    }
   
   .grilla-lasarna{
    
    display: flex;
    width:35%;
    height: 50%p;
   
   


   }

   

   .main-pelicula {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    flex-flow: wrap;

    .peliculas-list {

        list-style: none;
       }

   }
   
   